@model IEnumerable<Project>

<h2>Projects</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>Summary</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>

                <td>
                    @await Component.InvokeAsync("ProjectSummary", new { projectId = item.ProjectId })
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

